
.toggle-switch {
    position: relative;
    width: 80px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
}
.toggle-switch-checkbox {
    display: none;
}
.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #ccc;
    border-radius: 20px;
    margin: 0;
}
.toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner::before, .toggle-switch-inner::after {
    display: block;
    float: left;
    width: 50%;
    height: 34px;
    padding: 0;
    line-height: 34px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}
.toggle-switch-inner:before {
    content: "RIGHT";
    text-transform: uppercase;
    padding-left: 7px;
    background-color: #f90;
    color: #fff;
}
.toggle-switch-disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.toggle-switch-disabled::before {
    background-color: #ccc;
    cursor: not-allowed;
}
.toggle-switch-inner::after {
    content: "LEFT";
    text-transform: uppercase;
    padding-right: 10px;
    background-color: green;
    color: #fff;
    text-align: right;
}
.toggle-switch-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #ccc;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0px;
}
html, body {
    background-color: #dddddd;
}

.main-button {
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: green;
    cursor: pointer;
    justify-content : center;
    align-items: center;
    color: #ffffff;
    font-weight: lighter;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.child-button {
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: #8898A5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}
.child-button :hover{
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: Black;
    justify-content: center;
    align-items: center;
    color: #8898A5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

